<form action="/artist-search" method="GET">

  <h1>Homepage</h1>
  <label for="search">Search: </label>
  <input
    type="search"
    name="artistname"
    placeholder="The Beatles"
    id="search"
  />
  <button>Search</button>

</form>